@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3498db;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

.TodoWrapper {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #030320;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  width: 100%;
  border: 1px solid #8758ff;
  outline: none;
  background: #3498db;
  padding: 10px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #fff;
}

.todo-input::placeholder {
  color: white;
  border: none;
  outline: none;
  padding: 10px;
  font-weight: 14px;
}

.todo-btn {
  background: #ff5945;
  color: #fff;
  border: none;
  width: 100%;
  padding: 0.55rem;
  cursor: pointer;
  
}



.Todo {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background: #27203a;
   color: #fff;
   padding: 0.75rem 1rem;
   border-radius: 5px;
   margin-bottom: 1rem;
   cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
